# Ignore raw source files to prevent them from being pushed to public GitHub
Modules/
QuantixMain.lua
QuantixMain_live.lua
QuantixMain_refactored.lua
QuantixMain_v6.lua
bundle.py
Loader.lua
Quantix_Bundled_Release.lua
Loader_Redstone.lua
hercules-obfuscator/
QuantixLibrary_v3_raw.lua
